@import 'module/vars';
@import 'module/fonts';

@import 'module/nav';
.container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
padding-right: 0;
    background: #FFF;
@import 'module/header';
@import 'module/aboutus';
@import 'module/expertise';
@import 'module/magic';
@import 'module/portfolio';
@import 'module/viev';
@import 'module/testimonial';
@import 'module/bgtree';
@import 'module/facts';
@import 'module/slide';

}